.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  border: 0;
  padding: 10;
  background: inherit;

  &:hover {
    background-color: rgba(0, 0, 0, 0.115);
    border-radius: 50%;
    cursor: pointer;
  }
}

.sectionsContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.section {
  width: 100px;
  height: 50px;
}

.gray {
  background-color: gray;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
